.login-container{
    width:130%;
    height:80vh;
<<<<<<< HEAD
    background-color: white;
    border-radius: 18px;
=======
    background-color: Black;
    border-radius: 8px;
>>>>>>> f95732f7dd2276e4a890966247c44d298037dba2
    border:1px solid black;
    padding: 20px;
}
.login{
    /* padding-top: 10px;
    padding-bottom: 10px; */
    height: 100vh;
    padding-top: 100px;
    background-color: #5e5ee6;
}
/* .password{
    display : flex;
    align-items:center;
    justify-content: space-between;

} */

@media screen and (max-width:1000px ){
    .login-container{
        width:65%
    }
}
@media screen and (max-width:700px ){
    .login-container{
        width:45%
    }
}
        
        
    
